<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcb.cloudstorage.mapper.FileStoreMapper">

    <insert id="addFileStore" useGeneratedKeys="true" keyProperty="fileStoreId">
        INSERT INTO `file_store` (user_id,current_size)
        VALUES(#{userId},#{currentSize});
    </insert>
    <update id="updateFileStoreById">
        update file_store
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="currentSize != null and currentSize != ''">
                current_size = #{currentSize},
            </if>
            <if test="maxSize != null and maxSize != ''">
                max_size = #{maxSize},
            </if>
        </set>
        <where>
            file_store_id = #{fileStoreId}
        </where>
    </update>
</mapper>