<!DOCTYPE html>
<html class="x-admin-sm" lang="cn">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap-table.min.css"/>
    <link href="bootstrap-fileinput/css/fileinput.css" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 导入js -->
    <script src="js/jquery-3.4.1.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <script src="./js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/bootstrap-table-zh-CN.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="bootstrap-fileinput/js/fileinput.min.js"></script>
    <script src="bootstrap-fileinput/js/locales/zh.js"></script>
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="./js/axios-0.18.0.js"></script>
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">日志</a>
            <a>
              <cite>查看日志</cite></a>
          </span>
    <!--刷新按钮-->
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div id="logTable">
    <el-table
            :data="tableData.filter(data => !search || data.fileFolderName.toLowerCase().includes(search.toLowerCase()))"
            style="width: 100%">
        <el-table-column
                prop="formatTime"
                label="时间"
                sortable
                width="200">
        </el-table-column>
        <el-table-column
                prop="operationName"
                label="操作类型"
                width="120"
                :filters="[
                { text: '上传', value: '上传' },
                { text: '下载', value: '下载' },
                { text: '新建文件夹', value: '新建文件夹' },
                { text: '移动', value: '移动' },
                { text: '复制', value: '复制' },
                { text: '重命名', value: '重命名' },
                { text: '删除', value: '删除' }]"
                :filter-method="chooseType"
                filter-placement="bottom-end">
            <template slot-scope="scope">
                <el-tag
                        :type="
                        scope.row.operationType === 1 ? 'success' :
                        scope.row.operationType === 2 ? 'primary' :
                        scope.row.operationType === 3 ? 'success' :
                        scope.row.operationType === 4 ? 'success' :
                        scope.row.operationType === 5 ? 'success' :
                        scope.row.operationType === 6 ? 'primary' :
                        scope.row.operationType === 7 ? 'warning' :
                        'info'" disable-transitions>
                    {{scope.row.operationName}}
                </el-tag>
            </template>
        </el-table-column>
        <el-table-column
                label="文件/文件夹"
                width="120">
            <template slot-scope="scope">
                <i v-if="scope.row.file"><i class="el-icon-folder"></i>&nbsp;文件</i>
                <i v-else><i class="el-icon-folder-opened"></i>&nbsp;文件夹</i>
            </template>
        </el-table-column>
        <el-table-column
                prop="fileFolderName"
                label="文件名" >
        </el-table-column>
        <el-table-column
                width="240"
                label="操作结果"
                align="center">
            <template slot="header" slot-scope="scope">
                <el-input
                        v-model="search"
                        size="mini"
                        placeholder="输入关键字搜索"/>
            </template>
            <template slot-scope="scope">
                <el-tag
                        :type="
                        scope.row.operationSuccess ?'info' :
                        'warning'" disable-transitions>
                    <p v-if="scope.row.operationSuccess">操作成功</p>
                    <p v-else>操作失败</p>
                </el-tag>
            </template>
        </el-table-column>
    </el-table>
</div>
</body>

<script>
    new Vue({
        el: '#logTable',
        data() {
            return {
                tableData: [],
                search: ''
            }
        },
        created(){
            this.getAll();
        },
        methods: {
            getAll(){
                axios
                    .post("/index/log-list")        //有时会无法向后端传值
                    .then((res)=> {
                        if (res.data.flag) {
                            this.$message({message: res.data.msg, type:"success"});
                            this.tableData = res.data.data.logList;
                        } else {
                            this.$message.error(res.data.msg);
                        }
                    });
            },
            chooseType(value, row) {
                return row.operationName === value;
            }
        }
    })
</script>
</html>